
      <div class="row">
        <aside class="col-md-12">
          <h2>About</h2>
          <p>Page content</p>
        </aside>
        <section class="main col-md-12">
          <article>

          </article>
        </section>
      </div>
  