
      <div class="row">
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>Building</p>
        </aside>
        <section class="main col-md-9">
          <article>
          <h2>Welcome</h2>
          <p>This website is the milestone project for WEB322 course.</p>
          </article>
        </section>
      </div>
