
      <div class="row">
        <aside class="col-md-3">
          <h2>WEB322</h2>
          <a href="https://ict.senecacollege.ca/course/WEB322?q=course/WEB322" target="blank">Course Outline</a>
        </aside>
        <section class="main col-md-9">
          <article>
          <h2>Welcome</h2>
          <p>This is the final assignment for my WEB322 course. In this last assignment, we implemented a back-end 
            API using Express.js, MongoDB and other JavaScript frameworks to view and manage mock-up employees data.
            Please create an account to process!
            The codes can be found on my github: <a href="https://github.com/nikki-thn/WEB322/tree/master" target="blank">Github</a></p>
          </article>
        </section>
      </div>
